.main {
    /* display: flex; */
    justify-content: center;
}

.main {
    align-items: center;
}

.features {
    align-items: center;
}

.clients {
    align-items: center;
}

.about-us {
    align-items: center;
}