.header{
    text-align: center;
    padding-top: 15%;
    font-variant: h3;
 }

.image{
     height: 200px;
     position: absolute;
     margin-left: 30em  ;
     bottom: 43%;
     left: 15%;
}

.Features{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:   space-around;
     margin-top: 5%;
     text-align: center;
     align-content: center;
   
     
}

.header{
    text-align: center;
    margin-top: 3%;

}

.Companies{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:   space-around;
     margin-top: 5%;
     text-align: center;
     align-content: center;
     margin-bottom: 7%;
}

.info{

    margin-top: 10%;
}

.info-text{
    font-size: larger;
    font-weight: 10rem;
}


 