.navbar-link {
    color: black;
    font-weight: 450;
}

.navbar-title{
    color: black;
    font-weight: 450;
     margin-left: 20%;

}
.taskcard{
    margin: 5%;
    height: 6.86vw;
    cursor: "pointer";
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 1px 5px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 600ms;
}
.taskcard:hover {
    transform: scale(1.03);
    box-shadow: 0 5px 4px -2px hsla(240, 30.1%, 28%, 0.12), 0 8px 3px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  }
